body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    text-align: center;
    background-color: #4CAF50;
    color: white;
    padding: 20px 0;
}

.background-image {
    width: 100%;
    height: auto;
    max-height: 500px; /* Maksymalna wysokość obrazu */
    object-fit: cover; /* Utrzymanie proporcji obrazu */
}

nav {
    background-color: #333;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 14px 20px;
    display: block;
}

nav ul li a:hover {
    background-color: #575757;
}

main {
    padding: 20px;
    text-align: center;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.gallery img {
    max-width: 25%; /* Maksymalna szerokość obrazu */
    height: auto;
    border: 2px solid #ddd;
    border-radius: 5px;
    transition: transform 0.2s;
}

.gallery img:hover {
    transform: scale(1.05);
}
